In [1]:
import os
import pandas as pd
import numpy as np

from pylab import rcParams
import statsmodels.api as sm
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

In [6]:
df=pd.read_csv("C:/Users/DELL/Desktop/Master_FIEK/Pergaditja dhe vizualizimi i te dhenave/GFP_dataset/global_food_prices.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
#Top rows of the dataset 
df.head()

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050638 entries, 0 to 2050637
Data columns (total 18 columns):
 #   Column              Dtype
---  ------              -----
 0   adm0_id             float64
 1   adm0_name           object
 2   adm1_id             int64
 3   adm1_name           object
 4   mkt_id              int64
 5   mkt_name            object
 6   cm_id               int64
 7   cm_name             object
 8   cur_id              float64
 9   cur_name            object
 10  pt_id               int64
 11  pt_name             object
 12  um_id               int64
 13  um_name             object
 14  mp_month            int64
 15  mp_year             int64
 16  mp_price            float64
 17  mp_commoditysource  float64
dtypes: float64(4), int64(7), object(7)
memory usage: 281.6+ MB

In [11]:
#identifying null vallues 
df.isnull().sum()

adm0_id                     0
adm0_name                   0
adm1_id                     0
adm1_name              611016
mkt_id                      0
mkt_name                    0
cm_id                       0
cm_name                     0
cur_id                      0
cur_name                    0
pt_id                       0
pt_name                     0
um_id                       0
um_name                     0
mp_month                    0
mp_year                     0
mp_price                    0
mp_commoditysource    2050638
dtype: int64

In [89]:
#handling columns with null values 
df=df.drop(['adm1_name', 'mp_commoditysource'], axis = 1)

KeyError: "['adm1_name' 'mp_commoditysource'] not found in axis"

In [14]:
#get unique values for market type column 
df.pt_name.unique()

array(['Retail', 'Wholesale', 'Producer', 'Farm Gate'], dtype=object)

In [15]:
#get unique values for unit's used column 
df.um_name.unique()

array(['KG', 'Day', 'Unit', 'L', 'USD/LCU', '30 pcs', '500 G', '125 G',
       'Packet', '900 G', '50 Pounds', '100 KG', '46 KG', '11.5 KG',
       'Pound', 'Cuartilla', 'Libra', '5 L', '10 pcs', '90 KG', '1 piece',
       '400 G', '15 KG', '5 KG', '12 KG', '20 KG', '120 KG', '20 L',
       '18 KG', '50 KG', '160 KG', '1.5 L', 'Sack', 'Package', 'Head',
       'MT', '85 G', 'Gallon', '380 G', '500 ML', 'Month', 'Course',
       '100 Pounds', '168 G', '45 KG', '70 G', '200 G', '68 KG', '109 KG',
       '91 KG', '93 KG', '10 KG', 'Bunch', '250 KG', '100 Tubers',
       '73 KG', '84 KG', '52 KG', '27 KG', '16 KG', '650 G', '750 ML',
       '115 G', '360 pcs', '50 pcs', '100 pcs', 'Marmite', '350 G',
       '385 G', '1.8 KG', 'Cylinder', '4 pcs', '150 ml', '2 KG', '1.8 L',
       '170 G', '1.5 KG', '300 G', '0.8 KG', '160 G', '750 G', '12.5 KG',
       '200 ML', '150 G', '1.3 KG', '185 G', 'Loaf', '2.25 KG', '5 pcs',
       '250 G', '11 KG', 'Brush', '100 ML', 'Bar', '250 ML', 'Pile',
       'Heap', '1.6 KG', 'Dozen', '100 L', '1.4 KG', '20 G', '3.4 KG',
       '0.5 KG', '1.1 KG', '2.1 KG', '1.2 KG', '3.1 KG', '3.5 KG',
       'Bundle', 'LCU/3.5kg', '25 KG', '3 L', 'Cubic meter', '60 KG',
       '3 KG', '2.5 KG', '700 G', '800 G', '28 pcs', '900 ML', '50 ML',
       'Pair', '1 GB', 'kWh'], dtype=object)

In [16]:
#check the data that has bad data as it's unit 
irrelevant_units = ['1 GB', 'kWh', 'Day', 'Unit', 'Head',  'Month', 'Course', 'Bunch', 'Marmite', 'Brush', 'Cylinder', 'Pile', 'Heap', 'Bundle', 'Cubic meter']
df.um_name.isin(irrelevant_units)

0          False
1          False
2          False
3          False
4          False
           ...
2050633    False
2050634    False
2050635    False
2050636    False
2050637    False
Name: um_name, Length: 2050638, dtype: bool

In [17]:
irrelevant_data = df[df.um_name.isin(irrelevant_units)]
print(irrelevant_data.shape)

(86679, 18)

In [18]:
print(irrelevant_data.head(20))

     adm0_id    adm0_name  adm1_id   adm1_name  mkt_id  mkt_name  cm_id  \
435      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
436      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
437      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
438      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
439      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
440      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
441      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
442      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
443      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
444      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
445      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
446      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
447      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
448      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
449      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
450      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
451      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
452      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
453      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
454      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274

                              cm_name  cur_id cur_name  pt_id pt_name  um_id  \
435  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
436  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
437  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
438  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
439  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
440  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
441  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
442  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
443  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
444  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
445  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
446  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
447  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
448  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
449  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
450  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
451  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
452  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
453  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
454  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51

    um_name  mp_month  mp_year  mp_price  mp_commoditysource
435     Day         2     2014     700.0                 NaN
436     Day         7     2014    1000.0                 NaN
437     Day         8     2014    1000.0                 NaN
438     Day         9     2014    1000.0                 NaN
439     Day        10     2014    1000.0                 NaN
440     Day        11     2014    1000.0                 NaN
441     Day        12     2014     925.0                 NaN
442     Day         1     2015     700.0                 NaN
443     Day         2     2015     700.0                 NaN
444     Day         3     2015     800.0                 NaN
445     Day         4     2015     800.0                 NaN
446     Day         5     2015     800.0                 NaN
447     Day         6     2015     800.0                 NaN
448     Day         7     2015     800.0                 NaN
449     Day         8     2015     800.0                 NaN
450     Day         9     2015     700.0                 NaN
451     Day        10     2015     600.0                 NaN
452     Day        11     2015     600.0                 NaN
453     Day        12     2015     600.0                 NaN
454     Day         1     2016     600.0                 NaN

In [20]:
print(df.shape)

(2050638, 18)

In [24]:
print((len(irrelevant_data)/len(df))*100)

4.226928399844341

In [25]:
print(irrelevant_data.index)

Int64Index([    435,     436,     437,     438,     439,     440,     441,
                442,     443,     444,
            ...
            1996699, 1996700, 1996701, 1996702, 1996703, 1996704, 1996705,
            1996706, 1996707, 1996708],
           dtype='int64', length=86679)

In [26]:
df.drop(irrelevant_data.index, axis=0)

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0000,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0000,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0000,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0000,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2050633,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,432,Beans (sugar) - Retail,0.0,ZWL,15,Retail,5,KG,6,2021,233.3333,NaN
2050634,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,539,Toothpaste - Retail,0.0,ZWL,15,Retail,116,100 ML,6,2021,112.5000,NaN
2050635,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,540,Laundry soap - Retail,0.0,ZWL,15,Retail,5,KG,6,2021,114.0000,NaN
2050636,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,541,Handwash soap - Retail,0.0,ZWL,15,Retail,66,250 G,6,2021,59.5000,NaN
2050637,271.0,Zimbabwe,3444,Midlands,5594,Mbilashaba,887,Fish (kapenta) - Retail,0.0,ZWL,15,Retail,5,KG,6,2021,1200.0000,NaN

In [27]:
print(irrelevant_data.head(20))

     adm0_id    adm0_name  adm1_id   adm1_name  mkt_id  mkt_name  cm_id  \
435      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
436      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
437      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
438      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
439      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
440      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
441      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
442      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
443      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
444      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
445      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
446      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
447      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
448      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
449      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
450      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
451      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
452      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
453      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274
454      1.0  Afghanistan      272  Badakhshan     266  Fayzabad    274

                              cm_name  cur_id cur_name  pt_id pt_name  um_id  \
435  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
436  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
437  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
438  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
439  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
440  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
441  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
442  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
443  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
444  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
445  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
446  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
447  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
448  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
449  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
450  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
451  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
452  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
453  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51
454  Wage (qualified labour) - Retail     0.0      AFN     15  Retail     51

    um_name  mp_month  mp_year  mp_price  mp_commoditysource
435     Day         2     2014     700.0                 NaN
436     Day         7     2014    1000.0                 NaN
437     Day         8     2014    1000.0                 NaN
438     Day         9     2014    1000.0                 NaN
439     Day        10     2014    1000.0                 NaN
440     Day        11     2014    1000.0                 NaN
441     Day        12     2014     925.0                 NaN
442     Day         1     2015     700.0                 NaN
443     Day         2     2015     700.0                 NaN
444     Day         3     2015     800.0                 NaN
445     Day         4     2015     800.0                 NaN
446     Day         5     2015     800.0                 NaN
447     Day         6     2015     800.0                 NaN
448     Day         7     2015     800.0                 NaN
449     Day         8     2015     800.0                 NaN
450     Day         9     2015     700.0                 NaN
451     Day        10     2015     600.0                 NaN
452     Day        11     2015     600.0                 NaN
453     Day        12     2015     600.0                 NaN
454     Day         1     2016     600.0                 NaN

In [28]:
#test if irrelevant data is deleted 
irrelevant_data = df[df.um_name.isin(irrelevant_units)]
print(irrelevant_data.shape)

(86679, 18)

In [29]:
df=df.drop(irrelevant_data.index, axis=0)

In [30]:
#test if irrelevant data is deleted 
irrelevant_data = df[df.um_name.isin(irrelevant_units)]
print(irrelevant_data.shape)

(0, 18)

In [32]:
#drop columns that don't represent useful information for our project
df=df.drop(['mkt_id', 'mkt_name'], axis = 1)

In [34]:
print(df.shape)

(1963959, 14)

In [35]:
#drop columns that don't represent useful information for our project
df=df.drop(['cm_id', 'um_id'], axis = 1)

In [36]:
print(df.shape)

(1963959, 12)

In [37]:
#get currencies used
df.cur_name.unique()

array(['AFN', 'DZD', 'AOA', 'ARS', 'AMD', 'AZN', 'BDT', 'INR', 'BYR',
       'XOF', 'BTN', 'BOB', 'BIF', 'KHR', 'XAF', 'CVE', 'CNY', 'COP',
       'USD', 'CDF', 'DJF', 'DOP', 'EGP', 'ERN', 'ETB', 'GMD', 'GEL',
       'GHS', 'GTQ', 'GNF', 'HTG', 'HNL', 'IDR', 'IRR', 'IQD', 'JPY',
       'JOD', 'KZT', 'KES', 'KGS', 'LAK', 'LBP', 'LSL', 'LRD', 'LYD',
       'MGA', 'MWK', 'MRO', 'MXN', 'MDL', 'MNT', 'MZN', 'MMK', 'NAD',
       'NPR', 'NIO', 'NGN', 'PKR', 'PAB', 'PYG', 'PEN', 'PHP', 'RUB',
       'RWF', 'SLL', 'SOS', 'ZAR', 'SSP', 'LKR', 'NIS', 'SDG', 'SZL',
       'SYP', 'TJS', 'THB', 'TRY', 'UGX', 'UAH', 'TZS', 'VEF', 'VND',
       'YER', 'ZMW', 'ZWL'], dtype=object)

In [42]:
df['mm']=df['cur_name']

In [44]:
#in this section, I am converting every currency to US dollar to get more accurate result
df.mm[df.mm == 'AFN'] = df[df['cur_name']=='AFN']['mp_price']*0.011
df.mm[df.mm == 'ZWL'] = df[df['cur_name']=='ZWL']['mp_price']*0.0027
df.mm[df.mm == 'AMD'] = df[df['cur_name']=='AMD']['mp_price']*0.0021
df.mm[df.mm == 'AOA'] = df[df['cur_name']=='AOA']['mp_price']*0.0017
df.mm[df.mm == 'ARS'] = df[df['cur_name']=='ARS']['mp_price']*0.0100
df.mm[df.mm == 'AZN'] = df[df['cur_name']=='AZN']['mp_price']*0.59
df.mm[df.mm == 'BDT'] = df[df['cur_name']=='BDT']['mp_price']*0.012
df.mm[df.mm == 'BIF'] = df[df['cur_name']=='BIF']['mp_price']*0.00050
df.mm[df.mm == 'BOB'] = df[df['cur_name']=='BOB']['mp_price']*0.14
df.mm[df.mm == 'BTN'] = df[df['cur_name']=='BTN']['mp_price']*0.013;
df.mm[df.mm == 'BYR'] = df[df['cur_name']=='BYR']['mp_price']*0.041;
df.mm[df.mm == 'CDF'] = df[df['cur_name']=='CDF']['mp_price']*0.00050;
df.mm[df.mm == 'CNY'] = df[df['cur_name']=='CNY']['mp_price']*0.16;
df.mm[df.mm == 'COP'] = df[df['cur_name']=='COP']['mp_price']*0.00026;
df.mm[df.mm == 'CVE'] = df[df['cur_name']=='CVE']['mp_price']*0.0103;
df.mm[df.mm == 'DJF'] = df[df['cur_name']=='DJF']['mp_price']*0.0056;
df.mm[df.mm == 'DOP'] = df[df['cur_name']=='DOP']['mp_price']*0.018;
df.mm[df.mm == 'DZD'] = df[df['cur_name']=='DZD']['mp_price']*0.0072;
df.mm[df.mm == 'EGP'] = df[df['cur_name']=='EGP']['mp_price']*0.064;
df.mm[df.mm == 'ERN'] = df[df['cur_name']=='ERN']['mp_price']*0.066;
df.mm[df.mm == 'ETB'] = df[df['cur_name']=='ETB']['mp_price']*0.021;
df.mm[df.mm == 'GEL'] = df[df['cur_name']=='GEL']['mp_price']*0.32;
df.mm[df.mm == 'GHS'] = df[df['cur_name']=='GHS']['mp_price']*0.16;
df.mm[df.mm == 'GMD'] = df[df['cur_name']=='GMD']['mp_price']*0.019;
df.mm[df.mm == 'GNF'] = df[df['cur_name']=='GNF']['mp_price']*0.00011;
df.mm[df.mm == 'GTQ'] = df[df['cur_name']=='GTQ']['mp_price']*0.13;
df.mm[df.mm == 'HNL'] = df[df['cur_name']=='HNL']['mp_price']*0.041;
df.mm[df.mm == 'HTG'] = df[df['cur_name']=='HTG']['mp_price']*0.010;
df.mm[df.mm == 'IDR'] = df[df['cur_name']=='IDR']['mp_price']*0.000070;
df.mm[df.mm == 'INR'] = df[df['cur_name']=='INR']['mp_price']*0.013;
df.mm[df.mm == 'IQD'] = df[df['cur_name']=='IQD']['mp_price']*0.00068;
df.mm[df.mm == 'IRR'] = df[df['cur_name']=='IRR']['mp_price']*0.000024;
df.mm[df.mm == 'JOD'] = df[df['cur_name']=='JOD']['mp_price']*1.41;
df.mm[df.mm == 'JPY'] = df[df['cur_name']=='JPY']['mp_price']*0.0087;
df.mm[df.mm == 'KES'] = df[df['cur_name']=='KES']['mp_price']*0.0089;
df.mm[df.mm == 'KGS'] = df[df['cur_name']=='KGS']['mp_price']*0.012;
df.mm[df.mm == 'KHR'] = df[df['cur_name']=='KHR']['mp_price']*0.00025;
df.mm[df.mm == 'KZT'] = df[df['cur_name']=='KZT']['mp_price']*0.0023;
df.mm[df.mm == 'LAK'] = df[df['cur_name']=='LAK']['mp_price']*0.000094;
df.mm[df.mm == 'LBP'] = df[df['cur_name']=='LBP']['mp_price']*0.00065;
df.mm[df.mm == 'LKR'] = df[df['cur_name']=='LKR']['mp_price']*0.0050;
df.mm[df.mm == 'LRD'] = df[df['cur_name']=='LRD']['mp_price']*0.0070;
df.mm[df.mm == 'LSL'] = df[df['cur_name']=='LSL']['mp_price']*0.064;
df.mm[df.mm == 'LYD'] = df[df['cur_name']=='LYD']['mp_price']*0.22;
df.mm[df.mm == 'MDL'] = df[df['cur_name']=='MDL']['mp_price']*0.057;
df.mm[df.mm == 'MMK'] = df[df['cur_name']=='MMK']['mp_price']*0.00057;

C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'AFN'] = df[df['cur_name']=='AFN']['mp_price']*0.011
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'ZWL'] = df[df['cur_name']=='ZWL']['mp_price']*0.0027
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'AMD'] = df[df['cur_name']=='AMD']['mp_price']*0.0021
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'AOA'] = df[df['cur_name']=='AOA']['mp_price']*0.0017
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'ARS'] = df[df['cur_name']=='ARS']['mp_price']*0.0100
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'AZN'] = df[df['cur_name']=='AZN']['mp_price']*0.59
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'BDT'] = df[df['cur_name']=='BDT']['mp_price']*0.012
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'BIF'] = df[df['cur_name']=='BIF']['mp_price']*0.00050
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'BOB'] = df[df['cur_name']=='BOB']['mp_price']*0.14
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'BTN'] = df[df['cur_name']=='BTN']['mp_price']*0.013;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'BYR'] = df[df['cur_name']=='BYR']['mp_price']*0.041;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'CDF'] = df[df['cur_name']=='CDF']['mp_price']*0.00050;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'CNY'] = df[df['cur_name']=='CNY']['mp_price']*0.16;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'COP'] = df[df['cur_name']=='COP']['mp_price']*0.00026;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'CVE'] = df[df['cur_name']=='CVE']['mp_price']*0.0103;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'DJF'] = df[df['cur_name']=='DJF']['mp_price']*0.0056;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'DOP'] = df[df['cur_name']=='DOP']['mp_price']*0.018;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'DZD'] = df[df['cur_name']=='DZD']['mp_price']*0.0072;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'EGP'] = df[df['cur_name']=='EGP']['mp_price']*0.064;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'ERN'] = df[df['cur_name']=='ERN']['mp_price']*0.066;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'ETB'] = df[df['cur_name']=='ETB']['mp_price']*0.021;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'GEL'] = df[df['cur_name']=='GEL']['mp_price']*0.32;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'GHS'] = df[df['cur_name']=='GHS']['mp_price']*0.16;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'GMD'] = df[df['cur_name']=='GMD']['mp_price']*0.019;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'GNF'] = df[df['cur_name']=='GNF']['mp_price']*0.00011;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'GTQ'] = df[df['cur_name']=='GTQ']['mp_price']*0.13;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'HNL'] = df[df['cur_name']=='HNL']['mp_price']*0.041;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'HTG'] = df[df['cur_name']=='HTG']['mp_price']*0.010;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'IDR'] = df[df['cur_name']=='IDR']['mp_price']*0.000070;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'INR'] = df[df['cur_name']=='INR']['mp_price']*0.013;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'IQD'] = df[df['cur_name']=='IQD']['mp_price']*0.00068;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'IRR'] = df[df['cur_name']=='IRR']['mp_price']*0.000024;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'JOD'] = df[df['cur_name']=='JOD']['mp_price']*1.41;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'JPY'] = df[df['cur_name']=='JPY']['mp_price']*0.0087;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'KES'] = df[df['cur_name']=='KES']['mp_price']*0.0089;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'KGS'] = df[df['cur_name']=='KGS']['mp_price']*0.012;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'KHR'] = df[df['cur_name']=='KHR']['mp_price']*0.00025;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'KZT'] = df[df['cur_name']=='KZT']['mp_price']*0.0023;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LAK'] = df[df['cur_name']=='LAK']['mp_price']*0.000094;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LBP'] = df[df['cur_name']=='LBP']['mp_price']*0.00065;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LKR'] = df[df['cur_name']=='LKR']['mp_price']*0.0050;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LRD'] = df[df['cur_name']=='LRD']['mp_price']*0.0070;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LSL'] = df[df['cur_name']=='LSL']['mp_price']*0.064;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LYD'] = df[df['cur_name']=='LYD']['mp_price']*0.22;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'MDL'] = df[df['cur_name']=='MDL']['mp_price']*0.057;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3946447168.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'MMK'] = df[df['cur_name']=='MMK']['mp_price']*0.00057;

In [47]:
#in this section, we're converting every currency to US dollar to get more accurate result
df.mm[df.mm == 'AFN'] = df.loc[df['cur_name']=='AFN']['mp_price']*0.011
df.mm[df.mm == 'ZWL'] = df.loc[df['cur_name']=='ZWL']['mp_price']*0.0027
df.mm[df.mm == 'AMD'] = df.loc[df['cur_name']=='AMD']['mp_price']*0.0021
df.mm[df.mm == 'AOA'] = df.loc[df['cur_name']=='AOA']['mp_price']*0.0017
df.mm[df.mm == 'ARS'] = df.loc[df['cur_name']=='ARS']['mp_price']*0.0100
df.mm[df.mm == 'AZN'] = df.loc[df['cur_name']=='AZN']['mp_price']*0.59
df.mm[df.mm == 'BDT'] = df.loc[df['cur_name']=='BDT']['mp_price']*0.012
df.mm[df.mm == 'BIF'] = df.loc[df['cur_name']=='BIF']['mp_price']*0.00050
df.mm[df.mm == 'BOB'] = df.loc[df['cur_name']=='BOB']['mp_price']*0.14
df.mm[df.mm == 'BTN'] = df.loc[df['cur_name']=='BTN']['mp_price']*0.013;
df.mm[df.mm == 'BYR'] = df.loc[df['cur_name']=='BYR']['mp_price']*0.041;
df.mm[df.mm == 'CDF'] = df.loc[df['cur_name']=='CDF']['mp_price']*0.00050;
df.mm[df.mm == 'CNY'] = df.loc[df['cur_name']=='CNY']['mp_price']*0.16;
df.mm[df.mm == 'COP'] = df.loc[df['cur_name']=='COP']['mp_price']*0.00026;
df.mm[df.mm == 'CVE'] = df.loc[df['cur_name']=='CVE']['mp_price']*0.0103;
df.mm[df.mm == 'DJF'] = df.loc[df['cur_name']=='DJF']['mp_price']*0.0056;
df.mm[df.mm == 'DOP'] = df.loc[df['cur_name']=='DOP']['mp_price']*0.018;
df.mm[df.mm == 'DZD'] = df.loc[df['cur_name']=='DZD']['mp_price']*0.0072;
df.mm[df.mm == 'EGP'] = df.loc[df['cur_name']=='EGP']['mp_price']*0.064;
df.mm[df.mm == 'ERN'] = df.loc[df['cur_name']=='ERN']['mp_price']*0.066;
df.mm[df.mm == 'ETB'] = df.loc[df['cur_name']=='ETB']['mp_price']*0.021;
df.mm[df.mm == 'GEL'] = df.loc[df['cur_name']=='GEL']['mp_price']*0.32;
df.mm[df.mm == 'GHS'] = df.loc[df['cur_name']=='GHS']['mp_price']*0.16;
df.mm[df.mm == 'GMD'] = df.loc[df['cur_name']=='GMD']['mp_price']*0.019;
df.mm[df.mm == 'GNF'] = df.loc[df['cur_name']=='GNF']['mp_price']*0.00011;
df.mm[df.mm == 'GTQ'] = df.loc[df['cur_name']=='GTQ']['mp_price']*0.13;
df.mm[df.mm == 'HNL'] = df.loc[df['cur_name']=='HNL']['mp_price']*0.041;
df.mm[df.mm == 'HTG'] = df.loc[df['cur_name']=='HTG']['mp_price']*0.010;
df.mm[df.mm == 'IDR'] = df.loc[df['cur_name']=='IDR']['mp_price']*0.000070;
df.mm[df.mm == 'INR'] = df.loc[df['cur_name']=='INR']['mp_price']*0.013;
df.mm[df.mm == 'IQD'] = df.loc[df['cur_name']=='IQD']['mp_price']*0.00068;
df.mm[df.mm == 'IRR'] = df.loc[df['cur_name']=='IRR']['mp_price']*0.000024;
df.mm[df.mm == 'JOD'] = df.loc[df['cur_name']=='JOD']['mp_price']*1.41;
df.mm[df.mm == 'JPY'] = df.loc[df['cur_name']=='JPY']['mp_price']*0.0087;
df.mm[df.mm == 'KES'] = df.loc[df['cur_name']=='KES']['mp_price']*0.0089;
df.mm[df.mm == 'KGS'] = df.loc[df['cur_name']=='KGS']['mp_price']*0.012;
df.mm[df.mm == 'KHR'] = df.loc[df['cur_name']=='KHR']['mp_price']*0.00025;
df.mm[df.mm == 'KZT'] = df.loc[df['cur_name']=='KZT']['mp_price']*0.0023;
df.mm[df.mm == 'LAK'] = df.loc[df['cur_name']=='LAK']['mp_price']*0.000094;
df.mm[df.mm == 'LBP'] = df.loc[df['cur_name']=='LBP']['mp_price']*0.00065;
df.mm[df.mm == 'LKR'] = df.loc[df['cur_name']=='LKR']['mp_price']*0.0050;
df.mm[df.mm == 'LRD'] = df.loc[df['cur_name']=='LRD']['mp_price']*0.0070;
df.mm[df.mm == 'LSL'] = df.loc[df['cur_name']=='LSL']['mp_price']*0.064;
df.mm[df.mm == 'LYD'] = df.loc[df['cur_name']=='LYD']['mp_price']*0.22;
df.mm[df.mm == 'MDL'] = df.loc[df['cur_name']=='MDL']['mp_price']*0.057;
df.mm[df.mm == 'MMK'] = df.loc[df['cur_name']=='MMK']['mp_price']*0.00057;

C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'AFN'] = df.loc[df['cur_name']=='AFN']['mp_price']*0.011
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'ZWL'] = df.loc[df['cur_name']=='ZWL']['mp_price']*0.0027
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'AMD'] = df.loc[df['cur_name']=='AMD']['mp_price']*0.0021
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'AOA'] = df.loc[df['cur_name']=='AOA']['mp_price']*0.0017
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'ARS'] = df.loc[df['cur_name']=='ARS']['mp_price']*0.0100
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'AZN'] = df.loc[df['cur_name']=='AZN']['mp_price']*0.59
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'BDT'] = df.loc[df['cur_name']=='BDT']['mp_price']*0.012
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'BIF'] = df.loc[df['cur_name']=='BIF']['mp_price']*0.00050
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'BOB'] = df.loc[df['cur_name']=='BOB']['mp_price']*0.14
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'BTN'] = df.loc[df['cur_name']=='BTN']['mp_price']*0.013;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'BYR'] = df.loc[df['cur_name']=='BYR']['mp_price']*0.041;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'CDF'] = df.loc[df['cur_name']=='CDF']['mp_price']*0.00050;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'CNY'] = df.loc[df['cur_name']=='CNY']['mp_price']*0.16;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'COP'] = df.loc[df['cur_name']=='COP']['mp_price']*0.00026;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'CVE'] = df.loc[df['cur_name']=='CVE']['mp_price']*0.0103;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'DJF'] = df.loc[df['cur_name']=='DJF']['mp_price']*0.0056;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'DOP'] = df.loc[df['cur_name']=='DOP']['mp_price']*0.018;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'DZD'] = df.loc[df['cur_name']=='DZD']['mp_price']*0.0072;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'EGP'] = df.loc[df['cur_name']=='EGP']['mp_price']*0.064;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'ERN'] = df.loc[df['cur_name']=='ERN']['mp_price']*0.066;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'ETB'] = df.loc[df['cur_name']=='ETB']['mp_price']*0.021;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'GEL'] = df.loc[df['cur_name']=='GEL']['mp_price']*0.32;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'GHS'] = df.loc[df['cur_name']=='GHS']['mp_price']*0.16;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'GMD'] = df.loc[df['cur_name']=='GMD']['mp_price']*0.019;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'GNF'] = df.loc[df['cur_name']=='GNF']['mp_price']*0.00011;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'GTQ'] = df.loc[df['cur_name']=='GTQ']['mp_price']*0.13;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'HNL'] = df.loc[df['cur_name']=='HNL']['mp_price']*0.041;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'HTG'] = df.loc[df['cur_name']=='HTG']['mp_price']*0.010;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'IDR'] = df.loc[df['cur_name']=='IDR']['mp_price']*0.000070;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'INR'] = df.loc[df['cur_name']=='INR']['mp_price']*0.013;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'IQD'] = df.loc[df['cur_name']=='IQD']['mp_price']*0.00068;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'IRR'] = df.loc[df['cur_name']=='IRR']['mp_price']*0.000024;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'JOD'] = df.loc[df['cur_name']=='JOD']['mp_price']*1.41;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'JPY'] = df.loc[df['cur_name']=='JPY']['mp_price']*0.0087;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'KES'] = df.loc[df['cur_name']=='KES']['mp_price']*0.0089;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'KGS'] = df.loc[df['cur_name']=='KGS']['mp_price']*0.012;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'KHR'] = df.loc[df['cur_name']=='KHR']['mp_price']*0.00025;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'KZT'] = df.loc[df['cur_name']=='KZT']['mp_price']*0.0023;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LAK'] = df.loc[df['cur_name']=='LAK']['mp_price']*0.000094;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LBP'] = df.loc[df['cur_name']=='LBP']['mp_price']*0.00065;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LKR'] = df.loc[df['cur_name']=='LKR']['mp_price']*0.0050;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LRD'] = df.loc[df['cur_name']=='LRD']['mp_price']*0.0070;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LSL'] = df.loc[df['cur_name']=='LSL']['mp_price']*0.064;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'LYD'] = df.loc[df['cur_name']=='LYD']['mp_price']*0.22;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'MDL'] = df.loc[df['cur_name']=='MDL']['mp_price']*0.057;
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/954396479.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.mm[df.mm == 'MMK'] = df.loc[df['cur_name']=='MMK']['mp_price']*0.00057;

In [78]:
AFN_units = ['AFN']
AFN_units_data = df[df.cur_name.isin(AFN_units)]

In [79]:
AFNIndex = AFN_units_data.index

In [80]:
print(AFNIndex.shape)

(12888,)

In [86]:
df2.head(200)

,adm0_id,adm0_name,adm1_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm
0,1.0,Afghanistan,272,Bread - Retail,0.0,AFN,15,Retail,KG,1,2014,50.00,0.55
1,1.0,Afghanistan,272,Bread - Retail,0.0,AFN,15,Retail,KG,2,2014,50.00,0.55
2,1.0,Afghanistan,272,Bread - Retail,0.0,AFN,15,Retail,KG,3,2014,50.00,0.55
3,1.0,Afghanistan,272,Bread - Retail,0.0,AFN,15,Retail,KG,4,2014,50.00,0.55
4,1.0,Afghanistan,272,Bread - Retail,0.0,AFN,15,Retail,KG,5,2014,50.00,0.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1.0,Afghanistan,272,Wheat - Retail,0.0,AFN,15,Retail,KG,3,2013,21.55,0.23705
196,1.0,Afghanistan,272,Wheat - Retail,0.0,AFN,15,Retail,KG,4,2013,22.00,0.242
197,1.0,Afghanistan,272,Wheat - Retail,0.0,AFN,15,Retail,KG,5,2013,23.00,0.253
198,1.0,Afghanistan,272,Wheat - Retail,0.0,AFN,15,Retail,KG,7,2013,19.00,0.209
199,1.0,Afghanistan,272,Wheat - Retail,0.0,AFN,15,Retail,KG,8,2013,19.00,0.209

In [87]:
#since all prices are converted to dollar, currency related columns are not needed anymore
df=df.drop(['cur_id', 'cur_name'], axis = 1)

In [88]:
df.tail()

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm
2050633,271.0,Zimbabwe,3444,Beans (sugar) - Retail,15,Retail,KG,6,2021,233.3333,0.63
2050634,271.0,Zimbabwe,3444,Toothpaste - Retail,15,Retail,100 ML,6,2021,112.5000,0.30375
2050635,271.0,Zimbabwe,3444,Laundry soap - Retail,15,Retail,KG,6,2021,114.0000,0.3078
2050636,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,6,2021,59.5000,0.16065
2050637,271.0,Zimbabwe,3444,Fish (kapenta) - Retail,15,Retail,KG,6,2021,1200.0000,3.24

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1963959 entries, 0 to 2050637
Data columns (total 11 columns):
 #   Column     Dtype
---  ------     -----
 0   adm0_id    float64
 1   adm0_name  object
 2   adm1_id    int64
 3   cm_name    object
 4   pt_id      int64
 5   pt_name    object
 6   um_name    object
 7   mp_month   int64
 8   mp_year    int64
 9   mp_price   float64
 10  mm         object
dtypes: float64(2), int64(4), object(5)
memory usage: 244.3+ MB

In [95]:
df['mm'] = pd.to_numeric(df['mm'],errors = 'coerce')

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1963959 entries, 0 to 2050637
Data columns (total 11 columns):
 #   Column     Dtype
---  ------     -----
 0   adm0_id    float64
 1   adm0_name  object
 2   adm1_id    int64
 3   cm_name    object
 4   pt_id      int64
 5   pt_name    object
 6   um_name    object
 7   mp_month   int64
 8   mp_year    int64
 9   mp_price   float64
 10  mm         float64
dtypes: float64(3), int64(4), object(4)
memory usage: 244.3+ MB

In [100]:
df.tail()

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm
2050633,271.0,Zimbabwe,3444,Beans (sugar) - Retail,15,Retail,KG,6,2021,233.3333,0.63000
2050634,271.0,Zimbabwe,3444,Toothpaste - Retail,15,Retail,100 ML,6,2021,112.5000,0.30375
2050635,271.0,Zimbabwe,3444,Laundry soap - Retail,15,Retail,KG,6,2021,114.0000,0.30780
2050636,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,6,2021,59.5000,0.16065
2050637,271.0,Zimbabwe,3444,Fish (kapenta) - Retail,15,Retail,KG,6,2021,1200.0000,3.24000

In [101]:
#get unique values for unit's used column 
df.um_name.unique()

array(['KG', 'L', 'USD/LCU', '30 pcs', '500 G', '125 G', 'Packet',
       '900 G', '50 Pounds', '100 KG', '46 KG', '11.5 KG', 'Pound',
       'Cuartilla', 'Libra', '5 L', '10 pcs', '90 KG', '1 piece', '400 G',
       '15 KG', '5 KG', '12 KG', '20 KG', '120 KG', '20 L', '18 KG',
       '50 KG', '160 KG', '1.5 L', 'Sack', 'Package', 'MT', '85 G',
       'Gallon', '380 G', '500 ML', '100 Pounds', '168 G', '45 KG',
       '70 G', '200 G', '68 KG', '109 KG', '91 KG', '93 KG', '10 KG',
       '250 KG', '100 Tubers', '73 KG', '84 KG', '52 KG', '27 KG',
       '16 KG', '650 G', '750 ML', '115 G', '360 pcs', '50 pcs',
       '100 pcs', '350 G', '385 G', '1.8 KG', '4 pcs', '150 ml', '2 KG',
       '1.8 L', '170 G', '1.5 KG', '300 G', '0.8 KG', '160 G', '750 G',
       '12.5 KG', '200 ML', '150 G', '1.3 KG', '185 G', 'Loaf', '2.25 KG',
       '5 pcs', '250 G', '11 KG', '100 ML', 'Bar', '250 ML', '1.6 KG',
       'Dozen', '100 L', '1.4 KG', '20 G', '3.4 KG', '0.5 KG', '1.1 KG',
       '2.1 KG', '1.2 KG', '3.1 KG', '3.5 KG', 'LCU/3.5kg', '25 KG',
       '3 L', '60 KG', '3 KG', '2.5 KG', '700 G', '800 G', '28 pcs',
       '900 ML', '50 ML', 'Pair'], dtype=object)

In [109]:
irrelevant_KgUnits = ['500 G', '125 G', '900 G', '100 KG', '46 KG',  '11.5 KG', '90 KG', '400 G', '15 KG', '5 KG', '12 KG', '20 KG', '120 KG','18 KG',
       '50 KG', '160 KG', '85 G','380 G','168 G', '45 KG','70 G', '200 G', '68 KG', '109 KG', '91 KG', '93 KG', '10 KG',
       '250 KG','73 KG', '84 KG', '52 KG', '27 KG',
       '16 KG', '650 G','115 G', '350 G', '385 G', '1.8 KG','2 KG','170 G', '1.5 KG', '300 G', '0.8 KG', '160 G', '750 G',
       '12.5 KG','150 G', '1.3 KG', '185 G','2.25 KG','250 G', '11 KG','1.6 KG','1.4 KG', '20 G', '3.4 KG', '0.5 KG', '1.1 KG',
       '2.1 KG', '1.2 KG', '3.1 KG', '3.5 KG', 'LCU/3.5kg', '25 KG','60 KG', '3 KG', '2.5 KG', '700 G', '800 G']
irrelevant_kgData = df[df.um_name.isin(irrelevant_KgUnits)]

In [114]:
irrelevant_kgData.tail(20)

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm
2050454,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,5,2021,95.0000,0.256500
2050455,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,6,2021,70.0000,0.189000
2050518,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,11,2020,54.3333,0.146700
2050519,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,12,2020,51.2500,0.138375
2050520,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,1,2021,59.1667,0.159750
2050521,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,2,2021,57.5000,0.155250
2050522,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,3,2021,100.0000,0.270000
2050523,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,5,2021,100.0000,0.270000
2050524,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,6,2021,105.0000,0.283500
2050569,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,11,2020,46.6667,0.126000
2050570,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,12,2020,45.0000,0.121500
2050571,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,3,2021,66.6667,0.180000
2050572,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,5,2021,85.0000,0.229500
2050573,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,6,2021,75.0000,0.202500
2050618,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,7,2020,65.2500,0.176175
2050619,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,8,2020,75.0000,0.202500
2050620,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,12,2020,90.0000,0.243000
2050621,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,2,2021,80.3333,0.216900
2050622,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,3,2021,20.3333,0.054900
2050636,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,6,2021,59.5000,0.160650

In [111]:

print(irrelevant_kgData.shape)

(205569, 11)

In [116]:
df['um']=df['um_name']

In [117]:
df.head()

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
0,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,1,2014,50.0,0.55,KG
1,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,2,2014,50.0,0.55,KG
2,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,3,2014,50.0,0.55,KG
3,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,4,2014,50.0,0.55,KG
4,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,5,2014,50.0,0.55,KG

In [119]:
df.um[df.um =='500 G'] = df[df['um_name']=='500 G']['mm']*0.5
df.um[df.um =='125 G'] = df[df['um_name']=='125 G']['mm']*0.125
df.um[df.um =='900 G'] = df[df['um_name']=='900 G']['mm']*0.9
df.um[df.um =='85 G'] = df[df['um_name']=='85 G']['mm']*0.085
df.um[df.um =='380 G'] = df[df['um_name']=='380 G']['mm']*0.38
df.um[df.um =='168 G'] = df[df['um_name']=='168 G']['mm']*0.168
df.um[df.um =='70 G'] = df[df['um_name']=='70 G']['mm']*0.07
df.um[df.um =='200 G'] = df[df['um_name']=='200 G']['mm']*0.2
df.um[df.um =='650 G'] = df[df['um_name']=='650 G']['mm']*0.65
df.um[df.um =='115 G'] = df[df['um_name']=='115 G']['mm']*0.115
df.um[df.um =='350 G'] = df[df['um_name']=='350 G']['mm']*0.35
df.um[df.um =='385 G'] = df[df['um_name']=='385 G']['mm']*0.385
df.um[df.um =='170 G'] = df[df['um_name']=='170 G']['mm']*0.17
df.um[df.um =='300 G'] = df[df['um_name']=='300 G']['mm']*0.3
df.um[df.um =='160 G'] = df[df['um_name']=='160 G']['mm']*0.16
df.um[df.um =='750 G'] = df[df['um_name']=='750 G']['mm']*0.75
df.um[df.um =='250 G'] = df[df['um_name']=='250 G']['mm']*0.25
df.um[df.um =='20 G'] = df[df['um_name']=='20 G']['mm']*0.02
df.um[df.um =='700 G'] = df[df['um_name']=='700 G']['mm']*0.7
df.um[df.um =='800 G'] = df[df['um_name']=='800 G']['mm']*0.8
df.um[df.um =='400 G'] = df[df['um_name']=='400 G']['mm']*0.4

df.um[df.um =='100 KG'] = df[df['um_name']=='100 KG']['mm']*100
df.um[df.um =='46 KG'] = df[df['um_name']=='46 KG']['mm']*46
df.um[df.um =='11.5 KG'] = df[df['um_name']=='11.5 KG']['mm']*11.5
df.um[df.um =='90 KG'] = df[df['um_name']=='90 KG']['mm']*90
df.um[df.um =='15 KG'] = df[df['um_name']=='15 KG']['mm']*15
df.um[df.um =='5 KG'] = df[df['um_name']=='5 KG']['mm']*5
df.um[df.um =='12 KG'] = df[df['um_name']=='12 KG']['mm']*12
df.um[df.um =='20 KG'] = df[df['um_name']=='20 KG']['mm']*20
df.um[df.um =='120 KG'] = df[df['um_name']=='120 KG']['mm']*120
df.um[df.um =='18 KG'] = df[df['um_name']=='18 KG']['mm']*18
df.um[df.um =='50 KG'] = df[df['um_name']=='50 KG']['mm']*50
df.um[df.um =='160 KG'] = df[df['um_name']=='160 KG']['mm']*160
df.um[df.um =='45 KG'] = df[df['um_name']=='45 KG']['mm']*45
df.um[df.um =='68 KG'] = df[df['um_name']=='68 KG']['mm']*68
df.um[df.um =='109 KG'] = df[df['um_name']=='109 KG']['mm']*109
df.um[df.um =='91 KG'] = df[df['um_name']=='91 KG']['mm']*91
df.um[df.um =='93 KG'] = df[df['um_name']=='93 KG']['mm']*93
df.um[df.um =='10 KG'] = df[df['um_name']=='10 KG']['mm']*10
df.um[df.um =='250 KG'] = df[df['um_name']=='250 KG']['mm']*250
df.um[df.um =='73 KG'] = df[df['um_name']=='73 KG']['mm']*73
df.um[df.um =='84 KG'] = df[df['um_name']=='84 KG']['mm']*84
df.um[df.um =='52 KG'] = df[df['um_name']=='52 KG']['mm']*52
df.um[df.um =='27 KG'] = df[df['um_name']=='27 KG']['mm']*27
df.um[df.um =='16 KG'] = df[df['um_name']=='16 KG']['mm']*16
df.um[df.um =='1.8 KG'] = df[df['um_name']=='1.8 KG']['mm']*1.8
df.um[df.um =='2 KG'] = df[df['um_name']=='2 KG']['mm']*2
df.um[df.um =='3.4 KG'] = df[df['um_name']=='3.4 KG']['mm']*3.4
df.um[df.um =='0.5 KG'] = df[df['um_name']=='0.5 KG']['mm']*0.5
df.um[df.um =='1.1 KG'] = df[df['um_name']=='1.1 KG']['mm']*1.1
df.um[df.um =='2.1 KG'] = df[df['um_name']=='2.1 KG']['mm']*2.1
df.um[df.um =='1.2 KG'] = df[df['um_name']=='1.2 KG']['mm']*1.2
df.um[df.um =='3.1 KG'] = df[df['um_name']=='3.1 KG']['mm']*3.1
df.um[df.um =='3.5 KG'] = df[df['um_name']=='3.5 KG']['mm']*3.5
df.um[df.um =='LCU/3.5kg'] = df[df['um_name']=='LCU/3.5kg']['mm']*3.5
df.um[df.um =='25 KG'] = df[df['um_name']=='25 KG']['mm']*25
df.um[df.um =='60 KG'] = df[df['um_name']=='60 KG']['mm']*60
df.um[df.um =='3 KG'] = df[df['um_name']=='3 KG']['mm']*3
df.um[df.um =='2.5 KG'] = df[df['um_name']=='2.5 KG']['mm']*2.5
df.um[df.um =='11 KG'] = df[df['um_name']=='11 KG']['mm']*11
df.um[df.um =='1.6 KG'] = df[df['um_name']=='1.6 KG']['mm']*1.6
df.um[df.um =='1.4 KG'] = df[df['um_name']=='1.4 KG']['mm']*1.4
df.um[df.um =='1.5 KG'] = df[df['um_name']=='1.5 KG']['mm']*1.5
df.um[df.um =='0.8 KG'] = df[df['um_name']=='0.8 KG']['mm']*0.8
df.um[df.um =='2.25 KG'] = df[df['um_name']=='2.25 KG']['mm']*2.25
df.um[df.um =='12.5 KG'] = df[df['um_name']=='12.5 KG']['mm']*12.5
df.um[df.um =='1.3 KG'] = df[df['um_name']=='1.3 KG']['mm']*1.3

C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='500 G'] = df[df['um_name']=='500 G']['mm']*0.5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='125 G'] = df[df['um_name']=='125 G']['mm']*0.125
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='900 G'] = df[df['um_name']=='900 G']['mm']*0.9
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='85 G'] = df[df['um_name']=='85 G']['mm']*0.085
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='380 G'] = df[df['um_name']=='380 G']['mm']*0.38
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='168 G'] = df[df['um_name']=='168 G']['mm']*0.168
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='70 G'] = df[df['um_name']=='70 G']['mm']*0.07
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='200 G'] = df[df['um_name']=='200 G']['mm']*0.2
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='650 G'] = df[df['um_name']=='650 G']['mm']*0.65
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='115 G'] = df[df['um_name']=='115 G']['mm']*0.115
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='350 G'] = df[df['um_name']=='350 G']['mm']*0.35
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='385 G'] = df[df['um_name']=='385 G']['mm']*0.385
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='170 G'] = df[df['um_name']=='170 G']['mm']*0.17
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='300 G'] = df[df['um_name']=='300 G']['mm']*0.3
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='160 G'] = df[df['um_name']=='160 G']['mm']*0.16
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='750 G'] = df[df['um_name']=='750 G']['mm']*0.75
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='250 G'] = df[df['um_name']=='250 G']['mm']*0.25
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='20 G'] = df[df['um_name']=='20 G']['mm']*0.02
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='700 G'] = df[df['um_name']=='700 G']['mm']*0.7
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='800 G'] = df[df['um_name']=='800 G']['mm']*0.8
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='400 G'] = df[df['um_name']=='400 G']['mm']*0.4
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='100 KG'] = df[df['um_name']=='100 KG']['mm']*100
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='46 KG'] = df[df['um_name']=='46 KG']['mm']*46
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='11.5 KG'] = df[df['um_name']=='11.5 KG']['mm']*11.5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='90 KG'] = df[df['um_name']=='90 KG']['mm']*90
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='15 KG'] = df[df['um_name']=='15 KG']['mm']*15
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='5 KG'] = df[df['um_name']=='5 KG']['mm']*5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='12 KG'] = df[df['um_name']=='12 KG']['mm']*12
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='20 KG'] = df[df['um_name']=='20 KG']['mm']*20
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='120 KG'] = df[df['um_name']=='120 KG']['mm']*120
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='18 KG'] = df[df['um_name']=='18 KG']['mm']*18
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='50 KG'] = df[df['um_name']=='50 KG']['mm']*50
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='160 KG'] = df[df['um_name']=='160 KG']['mm']*160
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='45 KG'] = df[df['um_name']=='45 KG']['mm']*45
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='68 KG'] = df[df['um_name']=='68 KG']['mm']*68
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='109 KG'] = df[df['um_name']=='109 KG']['mm']*109
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='91 KG'] = df[df['um_name']=='91 KG']['mm']*91
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='93 KG'] = df[df['um_name']=='93 KG']['mm']*93
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='10 KG'] = df[df['um_name']=='10 KG']['mm']*10
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='250 KG'] = df[df['um_name']=='250 KG']['mm']*250
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='73 KG'] = df[df['um_name']=='73 KG']['mm']*73
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='84 KG'] = df[df['um_name']=='84 KG']['mm']*84
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='52 KG'] = df[df['um_name']=='52 KG']['mm']*52
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='27 KG'] = df[df['um_name']=='27 KG']['mm']*27
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='16 KG'] = df[df['um_name']=='16 KG']['mm']*16
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='1.8 KG'] = df[df['um_name']=='1.8 KG']['mm']*1.8
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='2 KG'] = df[df['um_name']=='2 KG']['mm']*2
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='3.4 KG'] = df[df['um_name']=='3.4 KG']['mm']*3.4
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='0.5 KG'] = df[df['um_name']=='0.5 KG']['mm']*0.5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='1.1 KG'] = df[df['um_name']=='1.1 KG']['mm']*1.1
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='2.1 KG'] = df[df['um_name']=='2.1 KG']['mm']*2.1
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='1.2 KG'] = df[df['um_name']=='1.2 KG']['mm']*1.2
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='3.1 KG'] = df[df['um_name']=='3.1 KG']['mm']*3.1
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='3.5 KG'] = df[df['um_name']=='3.5 KG']['mm']*3.5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.um[df.um =='LCU/3.5kg'] = df[df['um_name']=='LCU/3.5kg']['mm']*3.5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/3627644970.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame


In [121]:
df.head()

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
0,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,1,2014,50.0,0.55,KG
1,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,2,2014,50.0,0.55,KG
2,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,3,2014,50.0,0.55,KG
3,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,4,2014,50.0,0.55,KG
4,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,5,2014,50.0,0.55,KG

In [122]:
df2=df

In [123]:
df2.head()

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
0,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,1,2014,50.0,0.55,KG
1,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,2,2014,50.0,0.55,KG
2,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,3,2014,50.0,0.55,KG
3,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,4,2014,50.0,0.55,KG
4,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,5,2014,50.0,0.55,KG

In [124]:
df2.um[df2.um =='500 G'] = df2[df2['um_name']=='500 G']['mm']*0.5
df2.um[df2.um =='125 G'] = df2[df2['um_name']=='125 G']['mm']*0.125
df2.um[df2.um =='900 G'] = df2[df2['um_name']=='900 G']['mm']*0.9
df2.um[df2.um =='85 G'] = df2[df2['um_name']=='85 G']['mm']*0.085
df2.um[df2.um =='380 G'] = df2[df2['um_name']=='380 G']['mm']*0.38
df2.um[df2.um =='168 G'] = df2[df2['um_name']=='168 G']['mm']*0.168
df2.um[df2.um =='70 G'] = df2[df2['um_name']=='70 G']['mm']*0.07
df2.um[df2.um =='200 G'] = df2[df2['um_name']=='200 G']['mm']*0.2
df2.um[df2.um =='650 G'] = df2[df2['um_name']=='650 G']['mm']*0.65
df2.um[df2.um =='115 G'] = df2[df2['um_name']=='115 G']['mm']*0.115
df2.um[df2.um =='350 G'] = df2[df2['um_name']=='350 G']['mm']*0.35
df2.um[df2.um =='385 G'] = df2[df2['um_name']=='385 G']['mm']*0.385
df2.um[df2.um =='170 G'] = df2[df2['um_name']=='170 G']['mm']*0.17
df2.um[df2.um =='300 G'] = df2[df2['um_name']=='300 G']['mm']*0.3
df2.um[df2.um =='160 G'] = df2[df2['um_name']=='160 G']['mm']*0.16
df2.um[df2.um =='750 G'] = df2[df2['um_name']=='750 G']['mm']*0.75
df2.um[df2.um =='250 G'] = df2[df2['um_name']=='250 G']['mm']*0.25
df2.um[df2.um =='20 G'] = df2[df2['um_name']=='20 G']['mm']*0.02
df2.um[df2.um =='700 G'] = df2[df2['um_name']=='700 G']['mm']*0.7
df2.um[df2.um =='800 G'] = df2[df2['um_name']=='800 G']['mm']*0.8
df2.um[df2.um =='400 G'] = df2[df2['um_name']=='400 G']['mm']*0.4
df2.um[df2.um =='100 KG'] = df2[df2['um_name']=='100 KG']['mm']*100
df2.um[df2.um =='46 KG'] = df2[df2['um_name']=='46 KG']['mm']*46
df2.um[df2.um =='11.5 KG'] = df2[df2['um_name']=='11.5 KG']['mm']*11.5
df2.um[df2.um =='90 KG'] = df2[df2['um_name']=='90 KG']['mm']*90
df2.um[df2.um =='15 KG'] = df2[df2['um_name']=='15 KG']['mm']*15
df2.um[df2.um =='5 KG'] = df2[df2['um_name']=='5 KG']['mm']*5
df2.um[df2.um =='12 KG'] = df2[df2['um_name']=='12 KG']['mm']*12
df2.um[df2.um =='20 KG'] = df2[df2['um_name']=='20 KG']['mm']*20
df2.um[df2.um =='120 KG'] = df2[df2['um_name']=='120 KG']['mm']*120
df2.um[df2.um =='18 KG'] = df2[df2['um_name']=='18 KG']['mm']*18
df2.um[df2.um =='50 KG'] = df2[df2['um_name']=='50 KG']['mm']*50
df2.um[df2.um =='160 KG'] = df2[df2['um_name']=='160 KG']['mm']*160
df2.um[df2.um =='45 KG'] = df2[df2['um_name']=='45 KG']['mm']*45
df2.um[df2.um =='68 KG'] = df2[df2['um_name']=='68 KG']['mm']*68
df2.um[df2.um =='109 KG'] = df2[df2['um_name']=='109 KG']['mm']*109
df2.um[df2.um =='91 KG'] = df2[df2['um_name']=='91 KG']['mm']*91
df2.um[df2.um =='93 KG'] = df2[df2['um_name']=='93 KG']['mm']*93
df2.um[df2.um =='10 KG'] = df2[df2['um_name']=='10 KG']['mm']*10
df2.um[df2.um =='250 KG'] = df2[df2['um_name']=='250 KG']['mm']*250
df2.um[df2.um =='73 KG'] = df2[df2['um_name']=='73 KG']['mm']*73
df2.um[df2.um =='84 KG'] = df2[df2['um_name']=='84 KG']['mm']*84
df2.um[df2.um =='52 KG'] = df2[df2['um_name']=='52 KG']['mm']*52
df2.um[df2.um =='27 KG'] = df2[df2['um_name']=='27 KG']['mm']*27
df2.um[df2.um =='16 KG'] = df2[df2['um_name']=='16 KG']['mm']*16
df2.um[df2.um =='1.8 KG'] = df2[df2['um_name']=='1.8 KG']['mm']*1.8
df2.um[df2.um =='2 KG'] = df2[df2['um_name']=='2 KG']['mm']*2
df2.um[df2.um =='3.4 KG'] = df2[df2['um_name']=='3.4 KG']['mm']*3.4
df2.um[df2.um =='0.5 KG'] = df2[df2['um_name']=='0.5 KG']['mm']*0.5
df2.um[df2.um =='1.1 KG'] = df2[df2['um_name']=='1.1 KG']['mm']*1.1
df2.um[df2.um =='2.1 KG'] = df2[df2['um_name']=='2.1 KG']['mm']*2.1
df2.um[df2.um =='1.2 KG'] = df2[df2['um_name']=='1.2 KG']['mm']*1.2
df2.um[df2.um =='3.1 KG'] = df2[df2['um_name']=='3.1 KG']['mm']*3.1
df2.um[df2.um =='3.5 KG'] = df2[df2['um_name']=='3.5 KG']['mm']*3.5
df2.um[df2.um =='LCU/3.5kg'] = df2[df2['um_name']=='LCU/3.5kg']['mm']*3.5
df2.um[df2.um =='25 KG'] = df2[df2['um_name']=='25 KG']['mm']*25
df2.um[df2.um =='60 KG'] = df2[df2['um_name']=='60 KG']['mm']*60
df2.um[df2.um =='3 KG'] = df2[df2['um_name']=='3 KG']['mm']*3
df2.um[df2.um =='2.5 KG'] = df2[df2['um_name']=='2.5 KG']['mm']*2.5
df2.um[df2.um =='11 KG'] = df2[df2['um_name']=='11 KG']['mm']*11
df2.um[df2.um =='1.6 KG'] = df2[df2['um_name']=='1.6 KG']['mm']*1.6
df2.um[df2.um =='1.4 KG'] = df2[df2['um_name']=='1.4 KG']['mm']*1.4
df2.um[df2.um =='1.5 KG'] = df2[df2['um_name']=='1.5 KG']['mm']*1.5
df2.um[df2.um =='0.8 KG'] = df2[df2['um_name']=='0.8 KG']['mm']*0.8
df2.um[df2.um =='2.25 KG'] = df2[df2['um_name']=='2.25 KG']['mm']*2.25
df2.um[df2.um =='12.5 KG'] = df2[df2['um_name']=='12.5 KG']['mm']*12.5
df2.um[df2.um =='1.3 KG'] = df2[df2['um_name']=='1.3 KG']['mm']*1.3

C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='500 G'] = df2[df2['um_name']=='500 G']['mm']*0.5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='125 G'] = df2[df2['um_name']=='125 G']['mm']*0.125
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='900 G'] = df2[df2['um_name']=='900 G']['mm']*0.9
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='85 G'] = df2[df2['um_name']=='85 G']['mm']*0.085
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='380 G'] = df2[df2['um_name']=='380 G']['mm']*0.38
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='168 G'] = df2[df2['um_name']=='168 G']['mm']*0.168
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='70 G'] = df2[df2['um_name']=='70 G']['mm']*0.07
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='200 G'] = df2[df2['um_name']=='200 G']['mm']*0.2
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='650 G'] = df2[df2['um_name']=='650 G']['mm']*0.65
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='115 G'] = df2[df2['um_name']=='115 G']['mm']*0.115
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='350 G'] = df2[df2['um_name']=='350 G']['mm']*0.35
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='385 G'] = df2[df2['um_name']=='385 G']['mm']*0.385
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='170 G'] = df2[df2['um_name']=='170 G']['mm']*0.17
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='300 G'] = df2[df2['um_name']=='300 G']['mm']*0.3
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='160 G'] = df2[df2['um_name']=='160 G']['mm']*0.16
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='750 G'] = df2[df2['um_name']=='750 G']['mm']*0.75
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='250 G'] = df2[df2['um_name']=='250 G']['mm']*0.25
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='20 G'] = df2[df2['um_name']=='20 G']['mm']*0.02
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='700 G'] = df2[df2['um_name']=='700 G']['mm']*0.7
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='800 G'] = df2[df2['um_name']=='800 G']['mm']*0.8
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='400 G'] = df2[df2['um_name']=='400 G']['mm']*0.4
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='100 KG'] = df2[df2['um_name']=='100 KG']['mm']*100
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='46 KG'] = df2[df2['um_name']=='46 KG']['mm']*46
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='11.5 KG'] = df2[df2['um_name']=='11.5 KG']['mm']*11.5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='90 KG'] = df2[df2['um_name']=='90 KG']['mm']*90
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='15 KG'] = df2[df2['um_name']=='15 KG']['mm']*15
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='5 KG'] = df2[df2['um_name']=='5 KG']['mm']*5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='12 KG'] = df2[df2['um_name']=='12 KG']['mm']*12
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='20 KG'] = df2[df2['um_name']=='20 KG']['mm']*20
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='120 KG'] = df2[df2['um_name']=='120 KG']['mm']*120
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='18 KG'] = df2[df2['um_name']=='18 KG']['mm']*18
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='50 KG'] = df2[df2['um_name']=='50 KG']['mm']*50
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='160 KG'] = df2[df2['um_name']=='160 KG']['mm']*160
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='45 KG'] = df2[df2['um_name']=='45 KG']['mm']*45
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='68 KG'] = df2[df2['um_name']=='68 KG']['mm']*68
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='109 KG'] = df2[df2['um_name']=='109 KG']['mm']*109
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='91 KG'] = df2[df2['um_name']=='91 KG']['mm']*91
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='93 KG'] = df2[df2['um_name']=='93 KG']['mm']*93
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='10 KG'] = df2[df2['um_name']=='10 KG']['mm']*10
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='250 KG'] = df2[df2['um_name']=='250 KG']['mm']*250
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='73 KG'] = df2[df2['um_name']=='73 KG']['mm']*73
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='84 KG'] = df2[df2['um_name']=='84 KG']['mm']*84
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='52 KG'] = df2[df2['um_name']=='52 KG']['mm']*52
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='27 KG'] = df2[df2['um_name']=='27 KG']['mm']*27
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='16 KG'] = df2[df2['um_name']=='16 KG']['mm']*16
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='1.8 KG'] = df2[df2['um_name']=='1.8 KG']['mm']*1.8
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='2 KG'] = df2[df2['um_name']=='2 KG']['mm']*2
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='3.4 KG'] = df2[df2['um_name']=='3.4 KG']['mm']*3.4
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='0.5 KG'] = df2[df2['um_name']=='0.5 KG']['mm']*0.5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='1.1 KG'] = df2[df2['um_name']=='1.1 KG']['mm']*1.1
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='2.1 KG'] = df2[df2['um_name']=='2.1 KG']['mm']*2.1
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='1.2 KG'] = df2[df2['um_name']=='1.2 KG']['mm']*1.2
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='3.1 KG'] = df2[df2['um_name']=='3.1 KG']['mm']*3.1
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.um[df2.um =='3.5 KG'] = df2[df2['um_name']=='3.5 KG']['mm']*3.5
C:\Users\DELL\AppData\Local\Temp/ipykernel_2696/2359222565.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [126]:
df2.head()

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
0,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,1,2014,50.0,0.55,KG
1,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,2,2014,50.0,0.55,KG
2,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,3,2014,50.0,0.55,KG
3,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,4,2014,50.0,0.55,KG
4,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,5,2014,50.0,0.55,KG

In [138]:
df2.loc[df2.um =='500 G', ['um','mm']] = df2[df2['um_name']=='500 G']['mm']*0.5

In [140]:
df2.loc[df2.um=='500 G',['um','mm']]

Empty DataFrame
Columns: [um, mm]
Index: []

In [129]:
df2.head()

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
0,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,1,2014,50.0,0.55,KG
1,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,2,2014,50.0,0.55,KG
2,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,3,2014,50.0,0.55,KG
3,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,4,2014,50.0,0.55,KG
4,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,5,2014,50.0,0.55,KG

In [141]:
df2.loc[df2.um =='500 G',['um','mm']] = df2[df2['um']=='500 G']['mm']*0.5
df2.loc[df2.um =='125 G',['um','mm']] = df2[df2['um']=='125 G']['mm']*0.125
df2.loc[df2.um =='900 G',['um','mm']] = df2[df2['um']=='900 G']['mm']*0.9
df2.loc[df2.um =='85 G',['um','mm']] = df2[df2['um']=='85 G']['mm']*0.085
df2.loc[df2.um =='380 G',['um','mm']] = df2[df2['um']=='380 G']['mm']*0.38
df2.loc[df2.um =='168 G',['um','mm']] = df2[df2['um']=='168 G']['mm']*0.168
df2.loc[df2.um =='70 G',['um','mm']] = df2[df2['um']=='70 G']['mm']*0.07
df2.loc[df2.um =='200 G',['um','mm']] = df2[df2['um']=='200 G']['mm']*0.2
df2.loc[df2.um =='650 G',['um','mm']] = df2[df2['um']=='650 G']['mm']*0.65
df2.loc[df2.um =='115 G',['um','mm']] = df2[df2['um']=='115 G']['mm']*0.115
df2.loc[df2.um =='350 G',['um','mm']] = df2[df2['um']=='350 G']['mm']*0.35
df2.loc[df2.um =='385 G',['um','mm']] = df2[df2['um']=='385 G']['mm']*0.385
df2.loc[df2.um =='170 G',['um','mm']] = df2[df2['um']=='170 G']['mm']*0.17
df2.loc[df2.um =='300 G',['um','mm']] = df2[df2['um']=='300 G']['mm']*0.3
df2.loc[df2.um =='160 G',['um','mm']] = df2[df2['um']=='160 G']['mm']*0.16
df2.loc[df2.um =='750 G',['um','mm']] = df2[df2['um']=='750 G']['mm']*0.75
df2.loc[df2.um =='250 G',['um','mm']] = df2[df2['um']=='250 G']['mm']*0.25
df2.loc[df2.um =='20 G',['um','mm']] = df2[df2['um']=='20 G']['mm']*0.02
df2.loc[df2.um =='700 G',['um','mm']] = df2[df2['um']=='700 G']['mm']*0.7
df2.loc[df2.um =='800 G',['um','mm']] = df2[df2['um']=='800 G']['mm']*0.8
df2.loc[df2.um =='400 G',['um','mm']] = df2[df2['um']=='400 G']['mm']*0.4
df2.loc[df2.um =='100 KG',['um','mm']] = df2[df2['um']=='100 KG']['mm']*100
df2.loc[df2.um =='46 KG',['um','mm']] = df2[df2['um']=='46 KG']['mm']*46
df2.loc[df2.um =='11.5 KG',['um','mm']] = df2[df2['um']=='11.5 KG']['mm']*11.5
df2.loc[df2.um =='90 KG',['um','mm']] = df2[df2['um']=='90 KG']['mm']*90
df2.loc[df2.um =='15 KG',['um','mm']] = df2[df2['um']=='15 KG']['mm']*15
df2.loc[df2.um =='5 KG',['um','mm']] = df2[df2['um']=='5 KG']['mm']*5
df2.loc[df2.um =='12 KG',['um','mm']] = df2[df2['um']=='12 KG']['mm']*12
df2.loc[df2.um =='20 KG',['um','mm']] = df2[df2['um']=='20 KG']['mm']*20
df2.loc[df2.um =='120 KG',['um','mm']] = df2[df2['um']=='120 KG']['mm']*120
df2.loc[df2.um =='18 KG',['um','mm']] = df2[df2['um']=='18 KG']['mm']*18
df2.loc[df2.um =='50 KG',['um','mm']] = df2[df2['um']=='50 KG']['mm']*50
df2.loc[df2.um =='160 KG',['um','mm']] = df2[df2['um']=='160 KG']['mm']*160
df2.loc[df2.um =='45 KG',['um','mm']] = df2[df2['um']=='45 KG']['mm']*45
df2.loc[df2.um =='68 KG',['um','mm']] = df2[df2['um']=='68 KG']['mm']*68
df2.loc[df2.um =='109 KG',['um','mm']] = df2[df2['um']=='109 KG']['mm']*109
df2.loc[df2.um =='91 KG',['um','mm']] = df2[df2['um']=='91 KG']['mm']*91
df2.loc[df2.um =='93 KG',['um','mm']] = df2[df2['um']=='93 KG']['mm']*93
df2.loc[df2.um =='10 KG',['um','mm']] = df2[df2['um']=='10 KG']['mm']*10
df2.loc[df2.um =='250 KG',['um','mm']] = df2[df2['um']=='250 KG']['mm']*250
df2.loc[df2.um =='73 KG',['um','mm']] = df2[df2['um']=='73 KG']['mm']*73
df2.loc[df2.um =='84 KG',['um','mm']] = df2[df2['um']=='84 KG']['mm']*84
df2.loc[df2.um =='52 KG',['um','mm']] = df2[df2['um']=='52 KG']['mm']*52
df2.loc[df2.um =='27 KG',['um','mm']] = df2[df2['um']=='27 KG']['mm']*27
df2.loc[df2.um =='16 KG',['um','mm']] = df2[df2['um']=='16 KG']['mm']*16
df2.loc[df2.um =='1.8 KG',['um','mm']] = df2[df2['um']=='1.8 KG']['mm']*1.8
df2.loc[df2.um =='2 KG',['um','mm']] = df2[df2['um']=='2 KG']['mm']*2
df2.loc[df2.um =='3.4 KG',['um','mm']] = df2[df2['um']=='3.4 KG']['mm']*3.4
df2.loc[df2.um =='0.5 KG',['um','mm']] = df2[df2['um']=='0.5 KG']['mm']*0.5
df2.loc[df2.um =='1.1 KG',['um','mm']] = df2[df2['um']=='1.1 KG']['mm']*1.1
df2.loc[df2.um =='2.1 KG',['um','mm']] = df2[df2['um']=='2.1 KG']['mm']*2.1
df2.loc[df2.um =='1.2 KG',['um','mm']] = df2[df2['um']=='1.2 KG']['mm']*1.2
df2.loc[df2.um =='3.1 KG',['um','mm']] = df2[df2['um']=='3.1 KG']['mm']*3.1
df2.loc[df2.um =='3.5 KG',['um','mm']] = df2[df2['um']=='3.5 KG']['mm']*3.5
df2.loc[df2.um =='LCU/3.5kg',['um','mm']] = df2[df2['um']=='LCU/3.5kg']['mm']*3.5
df2.loc[df2.um =='25 KG',['um','mm']] = df2[df2['um']=='25 KG']['mm']*25
df2.loc[df2.um =='60 KG',['um','mm']] = df2[df2['um']=='60 KG']['mm']*60
df2.loc[df2.um =='3 KG',['um','mm']] = df2[df2['um']=='3 KG']['mm']*3
df2.loc[df2.um =='2.5 KG',['um','mm']] = df2[df2['um']=='2.5 KG']['mm']*2.5
df2.loc[df2.um =='11 KG',['um','mm']] = df2[df2['um']=='11 KG']['mm']*11
df2.loc[df2.um =='1.6 KG',['um','mm']] = df2[df2['um']=='1.6 KG']['mm']*1.6
df2.loc[df2.um =='1.4 KG',['um','mm']] = df2[df2['um']=='1.4 KG']['mm']*1.4
df2.loc[df2.um =='1.5 KG',['um','mm']] = df2[df2['um']=='1.5 KG']['mm']*1.5
df2.loc[df2.um =='0.8 KG',['um','mm']] = df2[df2['um']=='0.8 KG']['mm']*0.8
df2.loc[df2.um =='2.25 KG',['um','mm']] = df2[df2['um']=='2.25 KG']['mm']*2.25
df2.loc[df2.um =='12.5 KG',['um','mm']] = df2[df2['um']=='12.5 KG']['mm']*12.5
df2.loc[df2.um =='1.3 KG',['um','mm']] = df2[df2['um']=='1.3 KG']['mm']*1.3

In [142]:
df2.tail()

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
2050633,271.0,Zimbabwe,3444,Beans (sugar) - Retail,15,Retail,KG,6,2021,233.3333,0.63000,KG
2050634,271.0,Zimbabwe,3444,Toothpaste - Retail,15,Retail,100 ML,6,2021,112.5000,0.30375,100 ML
2050635,271.0,Zimbabwe,3444,Laundry soap - Retail,15,Retail,KG,6,2021,114.0000,0.30780,KG
2050636,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,6,2021,59.5000,0.16065,0.040163
2050637,271.0,Zimbabwe,3444,Fish (kapenta) - Retail,15,Retail,KG,6,2021,1200.0000,3.24000,KG

In [147]:
irrelevant_KgUnits = ['500 G', '125 G', '900 G', '100 KG', '46 KG',  '11.5 KG', '90 KG', '400 G', '15 KG', '5 KG', '12 KG', '20 KG', '120 KG','18 KG',
       '50 KG', '160 KG', '85 G','380 G','168 G', '45 KG','70 G', '200 G', '68 KG', '109 KG', '91 KG', '93 KG', '10 KG',
       '250 KG','73 KG', '84 KG', '52 KG', '27 KG',
       '16 KG', '650 G','115 G', '350 G', '385 G', '1.8 KG','2 KG','170 G', '1.5 KG', '300 G', '0.8 KG', '160 G', '750 G',
       '12.5 KG','150 G', '1.3 KG', '185 G','2.25 KG','250 G', '11 KG','1.6 KG','1.4 KG', '20 G', '3.4 KG', '0.5 KG', '1.1 KG',
       '2.1 KG', '1.2 KG', '3.1 KG', '3.5 KG', 'LCU/3.5kg', '25 KG','60 KG', '3 KG', '2.5 KG', '700 G', '800 G']
irrelevant_kgData = df2[df2.mm.isin(irrelevant_KgUnits)]

In [148]:
print(irrelevant_kgData.shape)

(0, 12)

In [149]:
df2.loc[df2.um =='KG',['um','mm']] = df2[df2['um']=='KG']['mm']*1

In [150]:
df2.tail()

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
2050633,271.0,Zimbabwe,3444,Beans (sugar) - Retail,15,Retail,KG,6,2021,233.3333,0.63000,0.63
2050634,271.0,Zimbabwe,3444,Toothpaste - Retail,15,Retail,100 ML,6,2021,112.5000,0.30375,100 ML
2050635,271.0,Zimbabwe,3444,Laundry soap - Retail,15,Retail,KG,6,2021,114.0000,0.30780,0.3078
2050636,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,6,2021,59.5000,0.16065,0.040163
2050637,271.0,Zimbabwe,3444,Fish (kapenta) - Retail,15,Retail,KG,6,2021,1200.0000,3.24000,3.24

In [152]:
#get unique values for unit's used column 
df.um_name.unique()

array(['KG', 'L', 'USD/LCU', '30 pcs', '500 G', '125 G', 'Packet',
       '900 G', '50 Pounds', '100 KG', '46 KG', '11.5 KG', 'Pound',
       'Cuartilla', 'Libra', '5 L', '10 pcs', '90 KG', '1 piece', '400 G',
       '15 KG', '5 KG', '12 KG', '20 KG', '120 KG', '20 L', '18 KG',
       '50 KG', '160 KG', '1.5 L', 'Sack', 'Package', 'MT', '85 G',
       'Gallon', '380 G', '500 ML', '100 Pounds', '168 G', '45 KG',
       '70 G', '200 G', '68 KG', '109 KG', '91 KG', '93 KG', '10 KG',
       '250 KG', '100 Tubers', '73 KG', '84 KG', '52 KG', '27 KG',
       '16 KG', '650 G', '750 ML', '115 G', '360 pcs', '50 pcs',
       '100 pcs', '350 G', '385 G', '1.8 KG', '4 pcs', '150 ml', '2 KG',
       '1.8 L', '170 G', '1.5 KG', '300 G', '0.8 KG', '160 G', '750 G',
       '12.5 KG', '200 ML', '150 G', '1.3 KG', '185 G', 'Loaf', '2.25 KG',
       '5 pcs', '250 G', '11 KG', '100 ML', 'Bar', '250 ML', '1.6 KG',
       'Dozen', '100 L', '1.4 KG', '20 G', '3.4 KG', '0.5 KG', '1.1 KG',
       '2.1 KG', '1.2 KG', '3.1 KG', '3.5 KG', 'LCU/3.5kg', '25 KG',
       '3 L', '60 KG', '3 KG', '2.5 KG', '700 G', '800 G', '28 pcs',
       '900 ML', '50 ML', 'Pair'], dtype=object)

In [153]:
df2.loc[df2.um =='Pound',['um','mm']] = df2[df2['um']=='Pound']['mm']*0.453592

In [154]:
df2.loc[df2.um =='50 Pounds',['um','mm']] = df2[df2['um']=='50 Pounds']['mm']*0.453592*50

In [155]:
df2.loc[df2.um =='Cuartilla',['um','mm']] = df2[df2['um']=='Cuartilla']['mm']*2.88

In [156]:
df2.loc[df2.um =='Libra',['um','mm']] = df2[df2['um']=='Libra']['mm']*1

In [157]:
df2.loc[df2.um =='Sack',['um','mm']] = df2[df2['um']=='Sack']['mm']*98

In [158]:
df2.loc[df2.um =='MT',['um','mm']] = df2[df2['um']=='MT']['mm']*1000

In [159]:
df2.loc[df2.um =='Gallon',['um','mm']] = df2[df2['um']=='Gallon']['mm']*3.78

In [160]:
df2.loc[df2.um =='100 Pounds',['um','mm']] = df2[df2['um']=='100 Pounds']['mm']*0.453592*100

In [161]:
df2.loc[df2.um =='L',['um','mm']] = df2[df2['um']=='L']['mm']*1
df2.loc[df2.um =='5 L',['um','mm']] = df2[df2['um']=='5 L']['mm']*5
df2.loc[df2.um =='20 L',['um','mm']] = df2[df2['um']=='20 L']['mm']*20
df2.loc[df2.um =='1.5 L',['um','mm']] = df2[df2['um']=='1.5 L']['mm']*1.5
df2.loc[df2.um =='500 ML',['um','mm']] = df2[df2['um']=='500 ML']['mm']*0.5
df2.loc[df2.um =='750 ML',['um','mm']] = df2[df2['um']=='750 ML']['mm']*0.75
df2.loc[df2.um =='150 ml',['um','mm']] = df2[df2['um']=='150 ml']['mm']*0.15
df2.loc[df2.um =='1.8 L',['um','mm']] = df2[df2['um']=='1.8 L']['mm']*1.8
df2.loc[df2.um =='200 ML',['um','mm']] = df2[df2['um']=='200 ML']['mm']*0.2
df2.loc[df2.um =='100 ML',['um','mm']] = df2[df2['um']=='100 ML']['mm']*0.1
df2.loc[df2.um =='250 ML',['um','mm']] = df2[df2['um']=='250 ML']['mm']*0.25
df2.loc[df2.um =='100 L',['um','mm']] = df2[df2['um']=='100 L']['mm']*100
df2.loc[df2.um =='3 L',['um','mm']] = df2[df2['um']=='3 L']['mm']*3
df2.loc[df2.um =='900 ML',['um','mm']] = df2[df2['um']=='900 ML']['mm']*0.9
df2.loc[df2.um =='50 ML',['um','mm']] = df2[df2['um']=='50 ML']['mm']*0.05

In [162]:
df2.tail()

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
2050633,271.0,Zimbabwe,3444,Beans (sugar) - Retail,15,Retail,KG,6,2021,233.3333,0.630000,0.63
2050634,271.0,Zimbabwe,3444,Toothpaste - Retail,15,Retail,100 ML,6,2021,112.5000,0.030375,0.030375
2050635,271.0,Zimbabwe,3444,Laundry soap - Retail,15,Retail,KG,6,2021,114.0000,0.307800,0.3078
2050636,271.0,Zimbabwe,3444,Handwash soap - Retail,15,Retail,250 G,6,2021,59.5000,0.160650,0.040163
2050637,271.0,Zimbabwe,3444,Fish (kapenta) - Retail,15,Retail,KG,6,2021,1200.0000,3.240000,3.24

In [163]:
df.um_name.unique()

array(['KG', 'L', 'USD/LCU', '30 pcs', '500 G', '125 G', 'Packet',
       '900 G', '50 Pounds', '100 KG', '46 KG', '11.5 KG', 'Pound',
       'Cuartilla', 'Libra', '5 L', '10 pcs', '90 KG', '1 piece', '400 G',
       '15 KG', '5 KG', '12 KG', '20 KG', '120 KG', '20 L', '18 KG',
       '50 KG', '160 KG', '1.5 L', 'Sack', 'Package', 'MT', '85 G',
       'Gallon', '380 G', '500 ML', '100 Pounds', '168 G', '45 KG',
       '70 G', '200 G', '68 KG', '109 KG', '91 KG', '93 KG', '10 KG',
       '250 KG', '100 Tubers', '73 KG', '84 KG', '52 KG', '27 KG',
       '16 KG', '650 G', '750 ML', '115 G', '360 pcs', '50 pcs',
       '100 pcs', '350 G', '385 G', '1.8 KG', '4 pcs', '150 ml', '2 KG',
       '1.8 L', '170 G', '1.5 KG', '300 G', '0.8 KG', '160 G', '750 G',
       '12.5 KG', '200 ML', '150 G', '1.3 KG', '185 G', 'Loaf', '2.25 KG',
       '5 pcs', '250 G', '11 KG', '100 ML', 'Bar', '250 ML', '1.6 KG',
       'Dozen', '100 L', '1.4 KG', '20 G', '3.4 KG', '0.5 KG', '1.1 KG',
       '2.1 KG', '1.2 KG', '3.1 KG', '3.5 KG', 'LCU/3.5kg', '25 KG',
       '3 L', '60 KG', '3 KG', '2.5 KG', '700 G', '800 G', '28 pcs',
       '900 ML', '50 ML', 'Pair'], dtype=object)

In [164]:
nonStandardized_units = ['USD/LCU','Packet','1 piece','Package','100 Tubers','360 pcs', '50 pcs',
       '100 pcs','4 pcs','Loaf', '5 pcs','Bar','28 pcs', 'Pair']

In [165]:
df2.loc[df2.um.isin(nonStandardized_units),:]

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
665,1.0,Afghanistan,272,Exchange rate - Retail,15,Retail,USD/LCU,2,2014,57.5500,0.633050,USD/LCU
666,1.0,Afghanistan,272,Exchange rate - Retail,15,Retail,USD/LCU,7,2014,56.6000,0.622600,USD/LCU
667,1.0,Afghanistan,272,Exchange rate - Retail,15,Retail,USD/LCU,8,2014,56.6250,0.622875,USD/LCU
668,1.0,Afghanistan,272,Exchange rate - Retail,15,Retail,USD/LCU,9,2014,57.0000,0.627000,USD/LCU
669,1.0,Afghanistan,272,Exchange rate - Retail,15,Retail,USD/LCU,10,2014,57.3750,0.631125,USD/LCU
...,...,...,...,...,...,...,...,...,...,...,...,...
1996823,269.0,Yemen,144971,Exchange rate (unofficial) - Retail,15,Retail,USD/LCU,1,2021,589.0192,NaN,USD/LCU
1996824,269.0,Yemen,144971,Exchange rate (unofficial) - Retail,15,Retail,USD/LCU,2,2021,592.5417,NaN,USD/LCU
1996825,269.0,Yemen,144971,Exchange rate (unofficial) - Retail,15,Retail,USD/LCU,3,2021,598.1607,NaN,USD/LCU
1996826,269.0,Yemen,144971,Exchange rate (unofficial) - Retail,15,Retail,USD/LCU,4,2021,593.2400,NaN,USD/LCU
1996827,269.0,Yemen,144971,Exchange rate (unofficial) - Retail,15,Retail,USD/LCU,6,2021,594.0741,NaN,USD/LCU

In [166]:
df2.loc[df2.um == '1 piece', :]

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
361064,45.0,Cameroon,815,Eggs - Retail,15,Retail,1 piece,3,2021,75.0000,NaN,1 piece
361065,45.0,Cameroon,815,Eggs - Retail,15,Retail,1 piece,4,2021,100.0000,NaN,1 piece
361066,45.0,Cameroon,815,Eggs - Retail,15,Retail,1 piece,6,2021,100.0000,NaN,1 piece
361211,45.0,Cameroon,815,Eggs - Retail,15,Retail,1 piece,3,2021,75.0000,NaN,1 piece
361212,45.0,Cameroon,815,Eggs - Retail,15,Retail,1 piece,4,2021,75.0000,NaN,1 piece
...,...,...,...,...,...,...,...,...,...,...,...,...
1829637,238.0,Syrian Arab Republic,2846,Surgical mask - Retail,15,Retail,1 piece,4,2021,343.7500,NaN,1 piece
1829638,238.0,Syrian Arab Republic,2846,Surgical mask - Retail,15,Retail,1 piece,5,2021,300.0000,NaN,1 piece
1829639,238.0,Syrian Arab Republic,2846,Surgical mask - Retail,15,Retail,1 piece,6,2021,233.3333,NaN,1 piece
1829888,238.0,Syrian Arab Republic,2846,Surgical mask - Retail,15,Retail,1 piece,5,2021,300.0000,NaN,1 piece
1829889,238.0,Syrian Arab Republic,2846,Surgical mask - Retail,15,Retail,1 piece,6,2021,383.3333,NaN,1 piece

In [167]:
df2.loc[df2.um == '1 piece', ['um','mp_price']] = df2[df2['um']=='1 piece']['mp_price']*1

In [169]:
df2.loc[df2.um_name == '1 piece', :]

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
361064,45.0,Cameroon,815,Eggs - Retail,15,Retail,1 piece,3,2021,75.0000,NaN,75.0
361065,45.0,Cameroon,815,Eggs - Retail,15,Retail,1 piece,4,2021,100.0000,NaN,100.0
361066,45.0,Cameroon,815,Eggs - Retail,15,Retail,1 piece,6,2021,100.0000,NaN,100.0
361211,45.0,Cameroon,815,Eggs - Retail,15,Retail,1 piece,3,2021,75.0000,NaN,75.0
361212,45.0,Cameroon,815,Eggs - Retail,15,Retail,1 piece,4,2021,75.0000,NaN,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1829637,238.0,Syrian Arab Republic,2846,Surgical mask - Retail,15,Retail,1 piece,4,2021,343.7500,NaN,343.75
1829638,238.0,Syrian Arab Republic,2846,Surgical mask - Retail,15,Retail,1 piece,5,2021,300.0000,NaN,300.0
1829639,238.0,Syrian Arab Republic,2846,Surgical mask - Retail,15,Retail,1 piece,6,2021,233.3333,NaN,233.3333
1829888,238.0,Syrian Arab Republic,2846,Surgical mask - Retail,15,Retail,1 piece,5,2021,300.0000,NaN,300.0
1829889,238.0,Syrian Arab Republic,2846,Surgical mask - Retail,15,Retail,1 piece,6,2021,383.3333,NaN,383.3333

In [170]:
df2.loc[df2.mm.isnull(), 'mm'] = df2[df2['mm'].isnull()]['mp_price']

In [171]:
df2.loc[df2.mm.isnull(), :]

Empty DataFrame
Columns: [adm0_id, adm0_name, adm1_id, cm_name, pt_id, pt_name, um_name, mp_month, mp_year, mp_price, mm, um]
Index: []

In [172]:
df2.loc[df2.um =='360 pcs',['um','mm']] = df2[df2['um']=='360 pcs']['mm']*360
df2.loc[df2.um =='50 pcs',['um','mm']] = df2[df2['um']=='50 pcs']['mm']*50
df2.loc[df2.um =='100 pcs',['um','mm']] = df2[df2['um']=='100 pcs']['mm']*100
df2.loc[df2.um =='4 pcs',['um','mm']] = df2[df2['um']=='4 pcs']['mm']*4
df2.loc[df2.um =='5 pcs',['um','mm']] = df2[df2['um']=='5 pcs']['mm']*5
df2.loc[df2.um =='28 pcs',['um','mm']] = df2[df2['um']=='28 pcs']['mm']*28

In [173]:
df2.loc[df2.um.isin(nonStandardized_units),:]

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
665,1.0,Afghanistan,272,Exchange rate - Retail,15,Retail,USD/LCU,2,2014,57.5500,0.633050,USD/LCU
666,1.0,Afghanistan,272,Exchange rate - Retail,15,Retail,USD/LCU,7,2014,56.6000,0.622600,USD/LCU
667,1.0,Afghanistan,272,Exchange rate - Retail,15,Retail,USD/LCU,8,2014,56.6250,0.622875,USD/LCU
668,1.0,Afghanistan,272,Exchange rate - Retail,15,Retail,USD/LCU,9,2014,57.0000,0.627000,USD/LCU
669,1.0,Afghanistan,272,Exchange rate - Retail,15,Retail,USD/LCU,10,2014,57.3750,0.631125,USD/LCU
...,...,...,...,...,...,...,...,...,...,...,...,...
1996823,269.0,Yemen,144971,Exchange rate (unofficial) - Retail,15,Retail,USD/LCU,1,2021,589.0192,589.019200,USD/LCU
1996824,269.0,Yemen,144971,Exchange rate (unofficial) - Retail,15,Retail,USD/LCU,2,2021,592.5417,592.541700,USD/LCU
1996825,269.0,Yemen,144971,Exchange rate (unofficial) - Retail,15,Retail,USD/LCU,3,2021,598.1607,598.160700,USD/LCU
1996826,269.0,Yemen,144971,Exchange rate (unofficial) - Retail,15,Retail,USD/LCU,4,2021,593.2400,593.240000,USD/LCU
1996827,269.0,Yemen,144971,Exchange rate (unofficial) - Retail,15,Retail,USD/LCU,6,2021,594.0741,594.074100,USD/LCU

In [177]:
nonFood_data=df2.loc[df2.um=='USD/LCU','um']

In [176]:
#since this data does not reprezent food prices and is not a bog amount of data either, we'll drop it
print(nonFood_data.index)

Int64Index([    665,     666,     667,     668,     669,     670,     671,
                672,     673,     674,
            ...
            1996818, 1996819, 1996820, 1996821, 1996822, 1996823, 1996824,
            1996825, 1996826, 1996827],
           dtype='int64', length=9970)

In [178]:
irrelevant_data = df[df.um.isin(nonFood_data)]

In [179]:
print(irrelevant_data.index)

Int64Index([    665,     666,     667,     668,     669,     670,     671,
                672,     673,     674,
            ...
            1996818, 1996819, 1996820, 1996821, 1996822, 1996823, 1996824,
            1996825, 1996826, 1996827],
           dtype='int64', length=9970)

In [180]:
df2 = df2.drop(irrelevant_data.index,axis=0)

In [181]:
df2.loc[df2.um=='USD/LCU',:]

Empty DataFrame
Columns: [adm0_id, adm0_name, adm1_id, cm_name, pt_id, pt_name, um_name, mp_month, mp_year, mp_price, mm, um]
Index: []

In [182]:
df2.loc[df2.um.isin(nonStandardized_units),:]

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
16108,4.0,Algeria,383,Tea (sahm) - Retail,15,Retail,Packet,4,2015,140.0000,1.0080,Packet
16109,4.0,Algeria,383,Tea (sahm) - Retail,15,Retail,Packet,5,2015,130.0000,0.9360,Packet
16110,4.0,Algeria,383,Tea (sahm) - Retail,15,Retail,Packet,6,2015,130.0000,0.9360,Packet
16111,4.0,Algeria,383,Tea (sahm) - Retail,15,Retail,Packet,7,2015,130.0000,0.9360,Packet
16112,4.0,Algeria,383,Tea (sahm) - Retail,15,Retail,Packet,8,2015,140.0000,1.0080,Packet
...,...,...,...,...,...,...,...,...,...,...,...,...
1913698,254.0,Ukraine,3172,Bread (wheat) - Retail,15,Retail,Loaf,7,2017,14.1500,14.1500,Loaf
1913699,254.0,Ukraine,3172,Bread (wheat) - Retail,15,Retail,Loaf,9,2017,14.9100,14.9100,Loaf
1913700,254.0,Ukraine,3172,Bread (wheat) - Retail,15,Retail,Loaf,10,2017,14.9967,14.9967,Loaf
1913701,254.0,Ukraine,3172,Bread (wheat) - Retail,15,Retail,Loaf,11,2017,15.7900,15.7900,Loaf
1913702,254.0,Ukraine,3172,Bread (wheat) - Retail,15,Retail,Loaf,12,2017,16.4333,16.4333,Loaf

In [183]:
df2.loc[df2.um =='Packet','um']= df2[df2['um']=='Packet']['mp_price']

In [184]:
df2.loc[df2.um =='Loaf','um']= df2[df2['um']=='Loaf']['mp_price']

In [185]:
df2.loc[df2.um.isin(nonStandardized_units),:]

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
390217,49.0,Central African Republic,863,Laundry detergent - Retail,15,Retail,Package,3,2020,541.6667,541.6667,Package
390218,49.0,Central African Republic,863,Laundry detergent - Retail,15,Retail,Package,4,2020,550.0000,550.0000,Package
390219,49.0,Central African Republic,863,Laundry detergent - Retail,15,Retail,Package,5,2020,325.0000,325.0000,Package
390220,49.0,Central African Republic,863,Laundry detergent - Retail,15,Retail,Package,6,2020,100.0000,100.0000,Package
391263,49.0,Central African Republic,863,Laundry detergent - Retail,15,Retail,Package,3,2020,533.3333,533.3333,Package
...,...,...,...,...,...,...,...,...,...,...,...,...
1876763,249.0,Turkey,3057,Tea (herbal) - Retail,15,Retail,Package,2,2021,7.5296,7.5296,Package
1876764,249.0,Turkey,3057,Tea (herbal) - Retail,15,Retail,Package,3,2021,7.6436,7.6436,Package
1876765,249.0,Turkey,3057,Tea (herbal) - Retail,15,Retail,Package,4,2021,7.4247,7.4247,Package
1876766,249.0,Turkey,3057,Tea (herbal) - Retail,15,Retail,Package,5,2021,7.7206,7.7206,Package
1876767,249.0,Turkey,3057,Tea (herbal) - Retail,15,Retail,Package,6,2021,7.8063,7.8063,Package

In [186]:
df2.loc[df2.um =='Package','um']= df2[df2['um']=='Package']['mp_price']

In [187]:
df2.loc[df2.um.isin(nonStandardized_units),:]

,adm0_id,adm0_name,adm1_id,cm_name,pt_id,pt_name,um_name,mp_month,mp_year,mp_price,mm,um
611838,94.0,Ghana,1324,Yam - Wholesale,14,Wholesale,100 Tubers,1,2008,106.2500,17.0000,100 Tubers
611839,94.0,Ghana,1324,Yam - Wholesale,14,Wholesale,100 Tubers,2,2008,77.2500,12.3600,100 Tubers
611840,94.0,Ghana,1324,Yam - Wholesale,14,Wholesale,100 Tubers,3,2008,72.6700,11.6272,100 Tubers
611841,94.0,Ghana,1324,Yam - Wholesale,14,Wholesale,100 Tubers,4,2008,78.5000,12.5600,100 Tubers
611842,94.0,Ghana,1324,Yam - Wholesale,14,Wholesale,100 Tubers,5,2008,100.0000,16.0000,100 Tubers
...,...,...,...,...,...,...,...,...,...,...,...,...
1829669,238.0,Syrian Arab Republic,2846,Plastic gloves - Retail,15,Retail,Pair,6,2021,250.0000,250.0000,Pair
1829878,238.0,Syrian Arab Republic,2846,Multipurpose soap - Retail,15,Retail,Bar,5,2021,500.0000,500.0000,Bar
1829879,238.0,Syrian Arab Republic,2846,Multipurpose soap - Retail,15,Retail,Bar,6,2021,666.6666,666.6666,Bar
1829892,238.0,Syrian Arab Republic,2846,Plastic gloves - Retail,15,Retail,Pair,5,2021,600.0000,600.0000,Pair
1829893,238.0,Syrian Arab Republic,2846,Plastic gloves - Retail,15,Retail,Pair,6,2021,366.6666,366.6666,Pair

In [188]:
df2.loc[df2.um =='100 Tubers','um']= df2[df2['um']=='100 Tubers']['mp_price']
df2.loc[df2.um =='Pair','um']= df2[df2['um']=='Pair']['mp_price']
df2.loc[df2.um =='Bar','um']= df2[df2['um']=='Bar']['mp_price']

In [190]:
#make sure no unstandardized value re,ains for um 
df2.loc[df2.um.isin(nonStandardized_units),:]

Empty DataFrame
Columns: [adm0_id, adm0_name, adm1_id, cm_name, pt_id, pt_name, um_name, mp_month, mp_year, mp_price, mm, um]
Index: []

In [192]:
df2.rename(columns={'adm0_id': 'country_id', 'adm0_name': 'country_name', 'adm1_id': 'locality_id', 'cm_name': 'commodity_purchased',
                   'pt_name': 'market_type' , 'um_name': 'unit_of_measurement',
                   'mp_month': 'month_recorded', 'mp_year': 'year_recorded',
                  'mp_price': 'price_paid', 'mm': 'price_in_baseCurrency',
                  'um': 'price_in_baseUnit'}, inplace=True)

In [193]:
df2.head()

,country_id,country_name,locality_id,commodity_purchased,pt_id,market_type,unit_of_measurement,month_recorded,year_recorded,price_paid,price_in_baseCurrency,price_in_baseUnit
0,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,1,2014,50.0,0.55,0.55
1,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,2,2014,50.0,0.55,0.55
2,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,3,2014,50.0,0.55,0.55
3,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,4,2014,50.0,0.55,0.55
4,1.0,Afghanistan,272,Bread - Retail,15,Retail,KG,5,2014,50.0,0.55,0.55

In [194]:
#drop market_id sine market_name will suffice
df2=df2.drop(['pt_id'], axis = 1)

In [195]:
df2.head()

,country_id,country_name,locality_id,commodity_purchased,market_type,unit_of_measurement,month_recorded,year_recorded,price_paid,price_in_baseCurrency,price_in_baseUnit
0,1.0,Afghanistan,272,Bread - Retail,Retail,KG,1,2014,50.0,0.55,0.55
1,1.0,Afghanistan,272,Bread - Retail,Retail,KG,2,2014,50.0,0.55,0.55
2,1.0,Afghanistan,272,Bread - Retail,Retail,KG,3,2014,50.0,0.55,0.55
3,1.0,Afghanistan,272,Bread - Retail,Retail,KG,4,2014,50.0,0.55,0.55
4,1.0,Afghanistan,272,Bread - Retail,Retail,KG,5,2014,50.0,0.55,0.55

In [196]:
#drop duplicates since we don't need them in our study
df2 = df2.drop_duplicates(['country_id','locality_id','commodity_purchased','market_type','unit_of_measurement','month_recorded','year_recorded','price_in_baseCurrency','price_in_baseUnit'], keep='first')

In [198]:
df2.shape

(1781675, 11)